{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}
<div class="album py-5 bg-light">
  <div class="container">
  <section class="py-1 text-center container">
     <div class="row py-lg-5">
       <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">About.</h1>
        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
       </div>
      </div>
  </section>
  </div>
</div> 

{% endblock %}