{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}
<div class="album py-5 bg-light">
  <div class="container">
  <section class="py-1 text-center container">
     <div class="row py-lg-5">
       <div class="col-lg-8 col-md-8 mx-auto">
        <h2 class="fw-light">Sobre mi.</h2>
        <p class="lead text-body-secondary">Comencé a programar cuando mi viejo me regaló una commodore 64 en el año 86. Después me recibí de Técnico en Computación en la secundaria, programando en Turbo Pascal. Hoy, aunque me dedico a otras actividades, quise recuperar la herramienta de la programación ya que es una gran pasión para mi. Y por eso hice el curso de Python.</p>
        <h1 class="fw-light">Sobre 'NuestroTubo'.</h1>
        <p class="lead text-body-secondary">Este sistema al que con humor llamé 'NuetstroTubo' lo menté hace bastante tiempo atrás, cuando buscaba una manera de compartir los videos que filmé en mi adolescencia entre los años '87 y '92. Videos que son un verdadero tesoro y que una vez digitalizados quedaron en mi computadora, archivados.</p>
      </div>
      </div>
  </section>
  </div>
</div> 

{% endblock %}