{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="fw-light">NuestroTubo.</h3>
        <p class="lead text-muted">Versión 1.0</p>
      </div>
    </div>
  </section>

  {% if user.is_authenticated %}
    {% if user.profile.nombre_completo and not videos%}
      {% block mensaje %}{% endblock %}
    {% else %}
      {% block titulo_ok %}{% endblock %}
    {% endif %}       
  {% else %}
    <section class="py-1 text-center container">
      <div class="row py-lg-1">
        <div class="col-lg-8 col-md-8 mx-auto">
          <h1 class="fw-light"> Logueate para comenzar. </h1>
          <p>
            <a href="{% url 'login' %}" class="btn btn-primary my-2">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-secondary my-2">Registrarse</a>
          </p>
        </div>
      </div>
    </section>
  
{% endif %}
  
{% block un_video %}
{% endblock %}

</main>

{% endblock %}
