{% extends "AdminVideos/base.html" %}
{% load static %}

{% block principal %}

<main>
 {% if user.is_authenticated %} 
    {% if user.profile.nombre_completo == "" %}
          <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">COMPLETÁ TU PERFIL</h1>
              <p class="lead text-muted">Una vez que ingreses tu nombre completo, podrás acceder a los videos en los que apareces.</p>
            <!-- <p>
                <a href="file:///Users/guillermo/Downloads/bootstrap-5.3.0-alpha1-examples/album/index.html#" class="btn btn-primary my-2">Main call to action</a>
                <a href="file:///Users/guillermo/Downloads/bootstrap-5.3.0-alpha1-examples/album/index.html#" class="btn btn-secondary my-2">Secondary action</a>
              </p> -->
            </div>
          </div>
        </section>
    {% endif %}    
{% else %}
<section class="py-1 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light">Logueate para ingresar al sistema.</h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
     </div>
  </div>
</section>

{% endif %}
  
    <div class="album py-5 bg-light">
      <div class="container">

        {% block un_video %}
        {% endblock %}



      </div>


    </div>
  

  </main>

  {% endblock %}
