{% extends "AdminVideos/base.html" %}

{% load static %}

 {% block principal %}
 
    
{% if mensajes %} 
    {% for mensaje in mensajes  %}
    <section class="py-1 text-center container">
      <div class="row py-lg-1">
        <div class="col-lg-8 col-md-8 mx-auto">
          <h1 class="fw-light">Mis Mensajes.</h1>
          <p class="lead text-body-secondary">Estos son los mensajes que dejaron para vos.</p>

        </div>
      </div>
    </section>
      <center>
          <p>    
            <li> Mensaje de: {{mensaje.email}} 
              <br> 
                 {{ mensaje.mensaje }}
              <br>
              <a href="{% url 'mensaje-delete' mensaje.id %}">Borrar</a>
              </li>
          </p>
        </center>
    {% endfor %}    
{% else %}
<div class="album py-5 bg-light">
  <div class="container">
    <section class="py-1 text-center container">
      <div class="row py-lg-1">
        <div class="col-lg-8 col-md-8 mx-auto">
          <h1 class="fw-light">No te enviaron mensajes aún.</h1>
        </div>
      </div>
    </section>
</div>
</div> 
 
{% endif %}               
    
{% endblock %}
