{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}

<div class="album py-5 bg-light">
   <section class="py-1 text-center container">
     <div class="row py-lg-1">
       <div class="col-lg-8 col-md-8 mx-auto">
         <h1 class="fw-light">Completá en formulario para enviar un mensaje al usuario que elijas.</h1>
       </div>
     </div>
   </section>
</div> 

<form method="post" enctype="multipart/form-data">
   <center>
      <p>    
           {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Enviar">
      </p>
    </center>
</form>
{% endblock %}