{% extends "AdminVideos/video_list_base.html" %}

{% load static %}

{% block titulo_ok %}
      <h1 class="fw-light"> Estos son los videos que cargaste. </h1>
{% endblock %}

{% block mensaje %}
        <h1 class="fw-light"> Aún no publicaste ningún video. </h1>
        <p class="lead text-body-secondary">Para compartir videos con la comunidad de NuestroTubo, cargá la urls de esos videos subidos a diferentes plataformas precisando con quiénes querés compartirlos, haciendo click en Publicar Video.</p>
 {% endblock %}  
