{% extends "AdminVideos/video_list_base.html" %}

{% load static %}

{% block titulo_ok %}
<section class="py-1 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light"> Estos son los videos que cargaste. </h1>
    </div>
   </div>
 </section>

{% endblock %}

{% block mensaje %}
  <section class="py-1 text-center container">
    <div class="row py-lg-1">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light"> Aún no cargaste ningún video. </h1>
        <p class="lead text-body-secondary">Para compartir videos con la comunidad de NuestroTubo, cargá videos precisando quienes aparecen en ellos haciendo click en Cargar Video.</p>
      </div>
     </div>
   </section>
 {% endblock %}  
