{% extends "AdminVideos/video_list_base.html" %}

{% load static %}

{% block titulo_ok %}
<section class="py-1 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-15 col-md-15 mx-auto">
      <h1 class="fw-light"> Estos son los videos que cargaste. </h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
   </div>
 </section>

{% endblock %}

{% block mensaje %}
  <section class="py-1 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-15 col-md-15 mx-auto">
        <h1 class="fw-light"> Aún no cargaste ningún video. </h1>
        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      </div>
     </div>
   </section>
 {% endblock %}  
