{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}

<div class="album py-5 bg-body-tertiary">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
              <img class="card-img-top" style="height: 225px; width: 100%; display: block" src="{{video.image_url}}" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">{{ video.nombre_video }} esta logueado: {{user.profile.nombre_completo}}</p>
                <p class="card-text">{{ video.descripcion_video }}</p>
                <h5>Están autorizados a ver este video:  {{video.quienes_aparecen}} </h5>
                <p></p>
                <a href="{{video.url_video}}" type="button" class="btn btn-sm btn-outline-primary">VER VIDEO</a>           
                {% if user.id == video.propietario.id %}
                  <a href="{% url 'videos-delete' video.id %}" type="button" class="btn btn-sm btn-outline-secondary">Eliminar</a>
                  <a href="{% url 'videos-update' video.id %}" type="button"  class="btn btn-sm btn-outline-secondary">Editar</a>
              </div>
            </div>
                 <p></p>
                 <small class="text-muted">Subido por mi.</small> 
                {% else %} 
              </div>
            </div>
                 <p></p>
                 <small class="text-muted">Subido por {{ video.propietario }}</small> 
                {% endif %}
    
                  <small class="text-muted"> / Fecha de captura: {{ video.fecha_video }}</small>
               
              </div>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}